<section class="intro-section landing">
  <div fxLayout="row" fxLayoutGap="40" style=" justify-content: center;align-items: center;height:100%;margin:20px;">

   <div class="container">
     <div class="row">
       <table style="text-align: left;color:white">
         <tr>
           <th>Repository Name</th>
           <th>Repository Size</th>
           <th>Repository Owner</th>
         </tr>
         <tr *ngFor="let repo of repos">
           <td >{{repo.name}}</td>
           <td>{{repo.size}}</td>
           <td>{{repo.owner}}</td>
           <td ><button class="custom-primary" (click)="geDetail(repo.owner,repo.name)">View Details</button></td>
         </tr>
       </table>
     </div>
   </div>

  </div>
</section>

